* {
	padding: 0;
	margin:  0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	height: 109vh;
	font-size: 50px;
	background: url(../assets/image/banner_teste_feedback.jpg) no-repeat;
	background-size: cover;
}

.container_feedback {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 81%;
	width: 37%;
}

.container_feedback ul {
	font-size: 17px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

.container_feedback ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	color: white;
}

li {
	list-style-type: none;
}

.container_feedback input {
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    border-bottom: solid grey 2px;
	margin-bottom: 10px;
}

.container_feedback span {
	align-self: flex-start;
}

.box_1 {
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	align-items: center;
	background-color: #000000cc;
    border-radius: 10px;
}

.feedback_p {
	font-size: 50px;
    color: white;
    font-weight: 600;
    font-family: system-ui;
}

.select {
	width: 100%;
	margin-bottom: 11px;
	margin-top: 6px;
}

.select select {
	background-color: #6c0e0e;
	border: black solid 1px;
	width: 10%;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}

button {
    width: 30%;
    height: 43%;
    border-radius: 5px;
    color: white;
    box-shadow: 0 5px 10px 0px black;
	background-color: var(--button_color);
    cursor: pointer;
	margin-top: 10px;
}

svg {
	width: 150px;
	height: 150px;
}

circle {
	width: 150px;
	height: 150px;
	fill: none;
	stroke: black;
	stroke-width: 10;
	transform: translate(5px, 5px);
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
}

circle:nth-child(1){
	stroke-dashoffset: 0;
	stroke: grey;
}

circle:nth-child(2){
	transition: stroke-dashoffset 0.08s;
	stroke: #6b1a01;
}

.number {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 27px;
	margin-top: 10px;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 187px;
    margin-top: 438px;
    height: 136px;
}

.button_feedback {
	width: 100%;
	height: 16%;
	align-items: flex-start;
    justify-content: center;
    display: flex;
}