
* {
    padding: 0;
    margin:  0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(https://ssb.wiki.gallery/images/thumb/1/19/SSBU-Boxing_Ring_1.png/1200px-SSBU-Boxing_Ring_1.png) no-repeat;
    background-size: cover;
}

.container_cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89vh;
    width: 100%;
    flex-direction: column;
    flex-direction: row-reverse;
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 30%;
    background-color: #000000cc;
    /* border-radius: 10px; */
    /* box-shadow: 0 0px 20px 5px #adadada3; */
    /* border: solid 1px black; */
}

.cadastro input {
    width: 300px;
    height: 20px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    border-bottom: solid grey 2px;
}

textarea:focus, input:focus {
    box-shadow: none;
    outline: 0;
}

.cadastro li {
    padding-bottom: 7px;
    color: white;
    font-size: 15px;
}

.cadastro ul {
    list-style-type: none;
}

.cadastro p {
    font-size: 50px;
    color: white;
    font-weight: 600;
    font-family: system-ui;
}

.cadastro_p {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

#button {
    display: flex;
    width: 90%;
    height: 5%;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

#button_clicar {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    border: none;
    color: white;
    box-shadow: 0 5px 10px 0px black;
	background-color: var(--button_color);
    cursor: pointer;
}

.linha {
    height: 0.4%;
    width: 90%;
    margin-top: 15px;
    background-color: grey;
}

#linha_p {
    font-size: 14px;
    padding-top: 3%;
    color: rgb(154, 153, 153);
}

/* login */

#button_login {
    display: flex;
    width: 90%;
    height: 5%;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
}

.linha_login {
    height: 0.4%;
    width: 90%;
    margin-top: 50px;
    background-color: grey;
}

#a_login_cadastro {
    text-decoration: none;
    color: grey;
}

/* Box onde vai aparecer o script */

#box_script {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 30%;
    background-color: #000000cc;
    text-align: center;
    color: white;
}

#frase {
    height: auto;
    width: 70%;
    text-align: center;
}

#box_script p {
    font-size: 30px;
    font-weight: 600;
}

#img_script {
    width: 200px;
}