.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	background: url(../assets/image/ringue_banner.jpg) no-repeat;
	background-size: cover;
	height: 88vh;
	font-family: sans-serif;
}

.text_button_container {
	margin-left: 100px;
	width: 525px;
}

.banner p {
	font-size: 43px;
	color: white;
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
}

.banner .button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 5px 10px 0px black;
	width: 100%;
	height: 8.04vh;
	text-decoration: none;
	font-weight: 600;
	color: white;
	font-size: 1.1rem;
	background: var(--button_color);
	transition: all 0.2s;
	cursor: pointer;
}

.banner .button:hover,
.enviar-btn:hover {
	box-shadow: 0 13px 15px 0px black;
}

#visão {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 40px 200px;
	background-color: rgba(71, 74, 81, 0.648);
	height: 60vh;
	background: url(../assets/image/visao.jpg) no-repeat;
	background-size: cover;
	height: 95vh;
}

.quem_somos_container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 50%;
}

.quem_somos_text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: justify;
	row-gap: 20px;
	color: white;
	font-size: 23px;
	font-family: sans-serif;
}

#img_dois {
	height: 120%;
	padding-left: 50px;
	padding-top: 70px;
	padding-right: 180px;
	padding-bottom: 10px;
}

.quem_somos_container_dois {
	display: flex;
	align-items: center;
	justify-content: end;
	height: 300px;
	width: 100%;
}

.quem_somos_text_dois {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: justify;
	row-gap: 20px;
	color: white;
	font-size: 23px;
	font-family: sans-serif;
}